{% extends 'base.html.twig' %}

{% block title %}CONTACT{% endblock %}

{% block body %}

    <h1 class="h3 mb-3 font-weight-normal">Nous contacter</h1>

    {% form_theme form 'bootstrap_5_layout.html.twig' %}

    {{ form_start(form) }}

    {{ form_end(form) }}

{% endblock %}



